<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solar Panel Placement Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">

    <style>
        body {
            height: 100%;
            margin: 0;
            font-family: 'Arial', sans-serif;
            background: url("static/assets/background2.jpg");
            background-size: cover;
            color: #fff;
        }
    </style>
    
</head>
<body>
    <div class="container">
        <h1>Solar Panel Placement Analysis</h1>
        <div class="upload-form">
            <form action="/upload" method="POST" enctype="multipart/form-data">
                <h2>Upload Satellite Image</h2>
                <input type="file" name="file" required><br><br>
                <input type="submit" value="Analyze Image">
            </form>
        </div>
    </div>
</body>
</html>

